body {
  overflow-x: hidden;
  background-color: #eeeeff;
}

.App {
  text-align: center;
}

a {
  text-decoration: none!important
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user-card {
  text-align: left;
}

.user-card:hover {
  background-color: #53a7ea!important;
  color: white;
}

.user-card-avatar {
  background-color: #8D021F!important
}

.user-details-back-button {
  margin-top: 10%!important;
  width: 100%;
}

.user-detailed-card-header {
  text-align: left;
}

.user-detailed-card {
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  text-align: left;
}

.info-detail {
  border-bottom: 1px solid lightgrey;
}

.info-title p {
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info-detail p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.leaflet-card {
  padding: 0!important;
}

.MuiBox-root > .leaflet-container {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 95%;
}

.MuiGrid-item > .leaflet-container {
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 5px;
  width: 100%;
  height: 350px;
}

